* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


body{
	width: 100%;
	height: 100vh;
	place-items: center;
	display: grid;
	background-color: rgb(236, 231, 231);
}


button img {
	height: 40px;
}

.container {
	width: 35%;
	height: auto;
	padding: 5px;
	box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
	border-radius: 4px;
	background-color: rgb(229, 227, 227);
}

.container h1 {
	text-align: center;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	text-transform: capitalize;
	margin: 5px 0;
}


.view_img {
	/* background-color: pink; */
	display: flex;
	justify-content: center;
	align-items: center;
	overflow:hidden;
	padding: 22px;
}

.view_img  img {
	width: 360px;
	height: 360px;
	object-fit: contain;
	border-radius: 20px;
}


.choose_img{
	width: 100%;
	display: grid;
	place-items: center;
	/* padding: 8px; */
	/* background-color: red; */
}

.disabled .view_img {
	pointer-events: none;
	opacity: .5;
}


.choose_img button {
	font-size: 1 rem;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 25px;
	border: none;
	border: none;
	background-color: rgb(240, 235, 212);
	border-radius: 4px;
	cursor: pointer;
}


.choose_img button img {
	width: 35px;
}


.slider {
	width: 100%;
	position:relative;
	padding: 0 10px;
}

.disabled .slider {
	pointer-events: none;
	opacity: .5;
} 



.slider input[type = "range"]{
	width: 100%;
}


.slider .filter_info {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1rem;
	text-transform:capitalize;
	font-family: Arial, Helvetica, sans-serif;
}

.icons_filter {
	width: 100%;
	padding: 10px;
	border-radius: 4px;
	border: 1px solid rgb(0, 0, 0, .1);
	margin-bottom: 5px;
}

.icons_filter .icons_room{
	width: 100%;
	display: flex;
	justify-content:  space-around;
	align-items: center;
}


.icons_filter p {
	text-transform: capitalize;
	margin-bottom: 8px;
	font-size: .9rem;
	font-family: Arial, Helvetica, sans-serif;
}


.icons_filter .icons_room{
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}


.icons_filter .icons_room button {
	border: none;
	outline: none;
	background-color: transparent;
}

 .icons_room button img {
	width: 20px;
	height: 20px;
}


.active {
	background-color: rgb(106, 233, 233) !important;
	padding: 5px;
	border-radius: 50%;
}


.icons_room1{
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.icons_filter .icons_room1 button {
	border: none;
	outline: none;
	background-color: transparent;
}

.icons_room1 button img{
	height: 20px;
	width: 20px;
	
}


.icons_room1 button:first-child{
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}

.icons_room1 button:Last-child {
	transform:rotate(90deg) ;
}

.btn_contain {
	position: relative;
	margin: 5px 0;
}
.disabled .btn_contain{
 pointer-events: none;
 opacity: .5;
}

.btn_contain button {
	padding: 10px 20px;
	border: none;
	outline: none;
	background-color: transparent;
	font-size: 1rem;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: capitalize;
	border-radius: 4px;
}

.btn_contain button:first-child {
	border: 1px solid rgb(0, 0, 0, 0.1);
	transition-duration: 400ms;
}

.btn_contain button:first-child:hover {
	border: none;
	background-color: rgb(61, 61, 210);
	color: #fff;
	
}

.btn_contain button:last-child {
	background-color: rgb(52, 178, 63);
	color: #fff;
	
	
}


@media (max-width:768px){
	.container{
		width: 100%;
	}
}