*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #2E5266FF;
	color: #ecc7c7;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 700;
	
}


body{
	display: grid;
	place-items: center;
	height: 100vh;
}



.out_container{
	height: 40rem;
	width: 30rem;
	border: 2px none red;
	box-shadow: 0rem 0rem 2rem .2rem  #D3D0CBFF;
	border-radius: 2rem;
	padding: 1rem;
	text-align: center;
	background-color: #2E5266FF;
	display: grid;
}

.image_div{
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.mainIMG {
	height: 14rem;
	width: auto;
	margin: 2rem 1rem;
	opacity: .6;
}

 .NewImg {
	height: 14rem;
	width: auto;
	margin: 2rem 1rem;
	/* object-fit: contain; */
	opacity: 1;
	border-radius: 1rem;
	box-shadow: 0rem 0rem .6rem .2rem  #D3D0CBFF;
}

.uploadBtn button {
	height: 2.5rem;
	width: 11rem;
	border: none;
	color: #2E5266FF;
	font-weight: 800;
	background-color: rgb(112, 140, 158) ;
	border-radius: 1rem;
	box-shadow: 0rem 0rem .5rem 0rem rgb(211, 208, 203, .5) ;
	transition: 600ms;
}


.uploadBtn button:hover {
	background-color:rgb(217, 215, 210);
}
.slider{
	border: 2px solid red;
}

.slider div {
	display: flex;
	margin: .4rem 0rem;
	justify-content: space-between;
}


.slider input{
	width: 100%;
	/* filter: ; */
}


.filetrsBox {
	margin: 1rem 0rem;
	display: grid;
	row-gap: 1rem;
	padding: .4rem;
	border: 2px solid red;
}



.filters{
	display: flex;
	justify-content: space-between;

}

.filters button {
	height: 2rem;
	width: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.filters button img {
	height: 2rem;
	width: 2rem;
}